{extend name="$_admin_base_layout" /}

{block name="content"}
{notempty name="page_tips"}
<div class="alert alert-{$tips_type} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <p>{$page_tips}</p>
</div>
{/notempty}

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


{/block}


{block name="script"}
<script>
    $(document).ready(function(){
       console.log('ready')
    });
    
</script>
{/block}